body {
  /* color: #484848; */
  color: #eee;
  background-color: #111;
}

body {
  background-image: url("../Images/snowLoop.gif");
  background-size: 100% 960px;
  background-repeat: no-repeat;
}

/*
* Link
*/
a {
  text-decoration: none; color: #eee; 
}

a:hover {
  opacity: 0.75;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

a:visited {text-decoration: none; color: #eee;}